* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*section 1*/

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 38px 0 61px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    color: #F9BF3B;
    text-align: center;
}
.simple .title_big {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    margin-top: 21px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 22px;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: Roboto;
    font-weight: 700;

}

.promo .promo_btn, .record_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.record_btn {
    margin-top: 51px;
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;

}

/*section 2*/

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: #ffffff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

/*section 3*/

.optimization {
    min-height: 550px;
    padding: 108px 0 72px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 30px;
    color: #299CBD;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-family: "Roboto";
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -47px;
    left: -230px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/bg/second_bg.jpg") center center/cover no-repeat;
}


.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item  .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #efefef;
}

/*section 4*/

.record {
    min-height: 631px;
    padding: 85px 0 88px 0;
    background-color: #efefef;
}

.gift .gift_img{
    display: block;
    margin: 0 auto;
}

.record .record_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    margin-top: 45px;
    padding: 0 60px;
}

/*section 5*/

.data {
    min-height: 512px;
    padding: 81px 0 51px 0;
}

.webinar .webinar_img {
    display: block;
    margin: 0 auto;
}

.data_record {
    text-align: center;
}

.data_record .data_text {
    ont-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #252525;
    margin-top: 36px;
}

.data_record .data_data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #299CBD;
    margin-top: 30px;
}

.data_record .data_restrictions {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    margin-top: 25px;
}

/*section 6*/

.footer {
    min-height: 170px;
    background-color: #252525;
    padding: 56px 0 69px 0;
}

.footer .footer_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;

}

.footer .footer_text span {
    text-decoration-line: underline;
}