* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*section 1*/

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 38px 0 61px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    color: #F9BF3B;
    text-align: center;
}
.simple .title_big {
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    margin-top: 21px;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 22px;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: Roboto;
    font-weight: 700;

}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;

}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;

}

/*section 2*/

.waiting {
    height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider {
    width: 217px;
    height: 4px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

















